:80 {
    root * /usr/share/caddy/html
    encode gzip
    file_server

    # Security headers
    header {
        # Enable HSTS
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        # Prevent browsers from inferring the MIME type
        X-Content-Type-Options "nosniff"
        # Enable Cross-site scripting filter
        X-XSS-Protection "1; mode=block"
        # Control cross-domain policies
        X-Frame-Options "DENY"
        # Help prevent Cross-Site Scripting (XSS)
        Content-Security-Policy "default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;"
        # Enable referrer policy
        Referrer-Policy "strict-origin-when-cross-origin"
        # Disable FLoC tracking
        Permissions-Policy "interest-cohort=()"
    }

    # Handle SPA routing
    try_files {path} /index.html
}
