---
import '../styles/globals.css';
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button";
import { UserAvatar } from "@/components/UserAvatar";
import { ModeToggle } from '@/components/ModeToggle';
import { Icon } from 'astro-icon/components';
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<Layout title="Welcome to Astro.">
	<!-- main container -->
	<main class="justify-center items-center p-4">
		<!-- mode toggle -->
		<div class="absolute top-0 right-0 p-4">
			<ModeToggle client:load />
		</div>

		<!-- content container -->
		<div class="m-auto max-w-md">
			<!-- user info -->
			<section class="flex flex-col justify-center items-center gap-5 m-5">
				<UserAvatar client:load />
				<p class="text-3xl font-semibold text-foreground">Keksi♡</p>
			</section>

			<!-- social links -->
			<section class="flex flex-col gap-3">
				<!-- sponsor buttons -->
				<div class="flex gap-3 justify-center items-center">
					<Button variant="secondary" size="icon">
						<Icon name="simple-icons:patreon" class="h-5 w-5"/>
					</Button>
					<Button variant="secondary" size="icon">
						<Icon name="simple-icons:buymeacoffee" class="h-5 w-5"/>
					</Button>
					<Button variant="secondary" size="icon">
						<Icon name="simple-icons:githubsponsors" class="h-5 w-5"/>
					</Button>
				</div>

				<Button variant="outline" size="xl">
					<Icon name="simple-icons:github" class="mr-2 h-5 w-5"/> GitHub
				</Button>
				<Button variant="outline" size="xl">
					<Icon name="simple-icons:discord" class="mr-2 h-5 w-5"/> Discord
				</Button>
				<Button variant="outline" size="xl">
					<Icon name="simple-icons:twitter" class="mr-2 h-5 w-5"/> Twitter
				</Button>

			</section>
		</div>
	</main>
</Layout>
