---
import { ButtonContainer } from '@/components/ButtonContainer'
import { DotBackground } from '@/components/DotBackground'
import { Footer } from '@/components/Footer'
import { ModeToggle } from '@/components/ModeToggle'
import { UserContainer } from '@/components/UserContainer'
import { WaveBackground } from '@/components/WaveBackground'
import { getConfig } from '@/lib/config'
import Layout from '../layouts/Layout.astro'

import '../styles/globals.css'

const config = await getConfig() // eslint-disable-line keksiqc/no-top-level-await
---

<Layout title={config.title}>
  {config.animatedBackground
? (
    <WaveBackground client:only="react" />
  )
: (
    <DotBackground client:only="react" />
  )}

  <!-- main container -->
  <main class="items-center justify-center p-4">
    <!-- mode toggle -->
    <div class="absolute right-0 top-0 p-4">
      <ModeToggle client:load />
    </div>

    <!-- content container -->
    <div class="m-auto max-w-md">
      <!-- user container -->
      <UserContainer client:load config={config} />

      <!-- button container -->
      <ButtonContainer client:load config={config} />
    </div>

    <!-- footer -->
    <Footer />
  </main>
</Layout>
