---

import { Button } from '@/components/ui/button';
import Layout from '@/layouts/main.astro';
---

<Layout>
	<div class="grid place-items-center h-screen content-center">
			<Button>Tailwind Button in Astro!</Button>
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
</Layout>
