---

import ErrorPage from '@/components/ErrorPage.astro'
import Footer from '@/components/Footer.astro'
import ThemeSwitcher from '@/components/theme-switcher.astro'
import { UserContainer } from '@/components/UserContainer'
import Layout from '@/layouts/main.astro'
import { getConfig } from '@/lib/config'

// Load configuration
const config = await getConfig()

---

<script is:inline define:vars={{ borderRadius: config?.page.borderRadius || 0.5 }}>
  document.documentElement.style.setProperty('--radius', `${borderRadius}rem`)
</script>

<Layout title={config?.page.title || 'Shako - Error'}>
  {
  !config
    ? <ErrorPage error="Failed to load configuration" />
    : (
      <main class="items-center justify-center p-4">

        <div class="absolute top-0 right-0 m-4 bg-background">
          <ThemeSwitcher />
        </div>

        <div class="m-auto max-w-md">
          <div class="mb-6">
            <UserContainer client:load config={config} />
          </div>

          <div class="mb-6">
          </div>
        </div>

        <Footer footerConfig={config?.page.footer || true} />
      </main>
    )
}
</Layout>
