---
import Background from '@/components/Background.astro'
import { ButtonContainer } from '@/components/ButtonContainer'
import ErrorPage from '@/components/ErrorPage.astro'
import { Footer } from '@/components/Footer'
import { ModeToggle } from '@/components/ModeToggle'
import { UserContainer } from '@/components/UserContainer'
import { getConfig } from '@/lib/config'
import Layout from '../layouts/Layout.astro'

import '../styles/global.css'

// Load configuration
const config = await getConfig()

---

<script is:inline define:vars={{ borderRadius: config?.page.borderRadius || 0.5 }}>
  document.documentElement.style.setProperty('--radius', `${borderRadius}rem`)
</script>

<Layout title={config?.page.title || 'Shako - Error'}>
  {
  !config
    ? <ErrorPage error={'Failed to load configuration'} />
    : (
      <main class="items-center justify-center p-4">
        <Background
          background={config?.page.background}
        />

        <div class="absolute top-0 right-0 p-4">
          <ModeToggle client:only="react" />
        </div>

        <div class="m-auto max-w-md">
          <div class="mb-6">
            <UserContainer client:load config={config} />
          </div>

          <div class="mb-6">
            <ButtonContainer client:load config={config} />
          </div>
        </div>

        <Footer footerConfig={config?.page.footer || true} />
      </main>
    )
}
</Layout>
