---
import { Code, Heart } from 'lucide-react'

export interface Props {
  footerConfig?: string | boolean
}

const { footerConfig } = Astro.props

// Early return for disabled footer
if (footerConfig === false) {
  return null
}

const isCustomContent = typeof footerConfig === 'string'
---

<footer class="bottom-0 my-12 flex w-full flex-col items-center justify-center gap-2 text-sm text-muted-foreground">
  <div class="flex items-center justify-center gap-1">
    {isCustomContent
  ? (
      footerConfig
    )
  : (
      <>
        <Code size={20} />
        with
        <Heart size={20} />
        by
        <a
          class="ml-1 rounded bg-muted px-[0.3rem] py-[0.2rem] hover:underline"
          href="https://github.com/keksiqc"
        >
          @keksiqc
        </a>
      </>
    )}
  </div>
  <a
    class="rounded bg-muted px-[0.3rem] py-[0.2rem] hover:underline"
    href="https://github.com/keksiqc/shako"
  >
    GitHub
  </a>
</footer>
